html, body {
    margin: 0;
    overflow: hidden; /* Bỏ cuộn toàn bộ trang */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  /* Đặt chiều cao sidebar cố định để tránh thanh cuộn dài vô tận */
  .sidebar {
    max-height: calc(100vh - 60px); /* Trừ đi chiều cao Header (nếu có) */
    overflow-y: auto;
  }
  
  /* Ẩn thanh cuộn mặc định, chỉ hiển thị khi hover (cho sidebar) */
  .scrollbar-custom::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  .scrollbar-custom::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 4px;
  }
  
  .scrollbar-custom:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  /* Ẩn thanh cuộn của Feed */
  .feed-scrollbar {
    scrollbar-width: none;    // Ẩn trên Firefox
    -ms-overflow-style: none; // Ẩn trên IE, Edge
  
    &::-webkit-scrollbar {
        display: none;       // Ẩn trên Chrome, Safari
    }
  }